@font-face {
  font-family: 'GothamBlack';
  src: url('GothamBlack.eot');
  src: url('GothamBlack.eot?#iefix') format('embedded-opentype'),
       url('GothamBlack.woff2') format('woff2'),
       url('GothamBlack.woff') format('woff'),
       url('GothamBlack.svg#GothamBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}

