﻿@charset "utf-8";
/* CSS Document */

/*  begin-CSS:absolute --------------------------------------------------------------------------*/
@font-face {
  font-family: 'Hipsteria';
  src: url('font/Hipsteria.eot');
  src: url('font/Hipsteria.eot?#iefix') format('embedded-opentype'),
       url('font/Hipsteria.woff2') format('woff2'),
       url('font/Hipsteria.woff') format('woff'),
       url('font/Hipsteria.ttf') format('truetype'),
       url('font/Hipsteria.svg#Hipsteria') format('svg');
       font-weight: normal;
       font-style: normal;
}
@font-face {
  font-family: 'VIEGotham-Book';
  src: url('font/VIEGotham-Book.eot');
  src: url('font/VIEGotham-Book.eot?#iefix') format('embedded-opentype'),
       url('font/VIEGotham-Book.woff2') format('woff2'),
       url('font/VIEGotham-Book.woff') format('woff'),
       url('font/VIEGotham-Book.ttf') format('truetype'),
       url('font/VIEGotham-Book.svg#VIEGotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'VIEGotham-Black';
  src: url('font/VIEGotham-Black.eot?#iefix') format('embedded-opentype'),
       url('font/VIEGotham-Black.otf')  format('opentype'),
	   url('font/VIEGotham-Black.woff') format('woff'),
       url('font/VIEGotham-Black.ttf')  format('truetype'),
       url('font/VIEGotham-Black.svg#VIEGotham-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamBlack';
  src: url('GothamBlack.eot');
  src: url('font/GothamBlack.eot?#iefix') format('embedded-opentype'),
       url('font/GothamBlack.woff2') format('woff2'),
       url('font/GothamBlack.woff') format('woff'),
       url('font/GothamBlack.ttf') format('truetype'),
       url('font/GothamBlack.svg#GothamBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SauberScript';
  src: url('font/SauberScript.eot');
  src: url('font/SauberScript.eot?#iefix') format('embedded-opentype'),
       url('font/SauberScript.woff2') format('woff2'),
       url('font/SauberScript.woff') format('woff'),
       url('font/SauberScript.ttf') format('truetype'),
       url('font/SauberScript.svg#SauberScript') format('svg');
  font-weight: normal;
  font-style: normal;
}




*{
	margin:0px; 
	padding: 0px;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body{
	color:#656565; 
	font-family:'VIEGotham-Book',sans-serif;
    font-size:14px;
}
#wrapper{}
h1, h2, h3, h4, h5, h6 {font-weight: bold;font-family: 'VIEGotham-Black',sans-serif;}
.font11{font-size:11px;}
.font12{font-size:12px;}
.font13{font-size:13px;}
.font14{font-size:14px;}
.font16{font-size:16px;}
.font18{font-size:18px;}
.font20{font-size:20px;}
.font22{font-size:22px;}
.font24{font-size:24px;}
.font26{font-size:26px;}
.font28{font-size:28px;}
.font30{font-size:30px;}
.bold{font-weight:700;}
.uppercase{text-transform:uppercase;}
.hide{display:none !important;}
b, strong{font-weight: bold;}
.block{display:block;}
.width-100{width:100%;}
a {color:#333;outline:none; display:inline-block; text-decoration:none;}
a.pic img, .pic img{max-width:100%; max-height:100%;}
a.pic-block img{width:100%; height:100%;}
a:hover{
	outline: 0;
	transition: 0.3s linear 0s;
	 -webkit-transition: 0.3s linear 0s;
	 -o-transition: 0.3s linear 0s;
	-ms-transition: 0.3s linear 0s;
}
img{border:none; display:inline-block;}
.fl {float:left;}
.fr {float:right;}
.tj{text-align:justify;}
.tr{text-align:right;}
.tc{text-align:center;}
.tl{text-align:left;}
.underline{text-decoration:underline;}
.no-underline{text-decoration:none !important;}
.line-through{text-decoration:line-through;}
.cursor{cursor:pointer;}
.position{position:relative;}
.reset{margin:0px !important; padding:0px !important;}
.lh16{line-height:1.6;}
.h53{height:55px;}
.h185{height:185px;}
.h250{height:250px;}
.height-name{height:38px; overflow:hidden;}
.mg10{margin:10px;}
.mg20{margin:20px;}
.mt5{margin-top:5px;}
.ml5{margin-left:5px;}
.mr5{margin-right:5px;}
.mb5{margin-bottom:5px;}
.mr10{margin-right:10px;}
.mt10{margin-top:10px;}
.ml10{margin-left:10px;}
.mb10{margin-bottom:10px;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mt20{margin-top:20px;}
.ml20{margin-left:20px;}
.mb20{margin-bottom:20px;}
.mr20{margin-right:20px;}
.pd30{padding:30px;}
.pd20{padding:20px;}
.pd10{padding:10px;}
.pd5{padding:5px;}
.pl5{padding-left:5px;}
.pr5{padding-right:5px;}
.pt5{padding-top:5px;}
.pb5{padding-bottom:5px;}
.pl10{padding-left:10px;}
.pr10{padding-right:10px;}
.pt10{padding-top:10px;}
.pb10{padding-bottom:10px;}
.pl20{padding-left:20px;}
.pr20{padding-right:20px;}
.pt20{padding-top:20px;}
.pb20{padding-bottom:20px;}
.pl30{padding-left:30px;}
.pr30{padding-right:30px;}
.pt30{padding-top:30px;}
.pb30{padding-bottom:30px;}
.pl80{padding-left:80px;}
.mb40{margin-bottom:40px;}
.blue{color:#4e70b1;}
.blue-bold{color:#005cb9;}
.border{border:1px solid #ddd;}
.border-bot{border-bottom:1px solid #ddd;}
.border-bot-red{border-bottom:1px solid #E80052;}
.border-top{border-top:1px solid #ddd;}
.border-left{border-left:1px solid #ddd;}
.border-right{border-right:1px solid #ddd;}
.border-w{border:1px solid #fff;}
.border-bot-w{border-bottom:1px solid #fff;}
.border-top-w{border-top:1px solid #fff;}
.border-left-w{border-left:1px solid #fff;}
.border-right-w{border-right:1px solid #fff;}
.nobor{border:none !important;}
.nobor-r{border-right:none !important;}
.nobor-t{border-top:none !important;}
.last, .first{margin:0px !important; border:none !important; background:none !important;}
.bg_none{background:none !important;}
.radius{
	border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
}
.transition{
	transition: 0.3s linear 0s;
	-webkit-transition: 0.3s linear 0s; 
	-o-transition: 0.3s linear 0s;
	-ms-transition: 0.3s linear 0s;
}
/*.opacity{opacity:0; filter:  alpha(opacity=0); zoom: 1;}*/
ul li, li ol{list-style-type: none;}
table{border-collapse:separate; border-spacing:0; vertical-align:middle; margin-bottom:10px;}
td, th{vertical-align:middle;text-align:center;padding:5px;}
label{display:block;}
.inline{display: inline-block;}
hr{background:#ddd; color:#ccc; clear:both; float:none; width:100%; height:1px; border:none; }
.gradient{
	box-shadow: 0 0 0 1px #338DBC inset;
	border-color:#FEEFC7;
	border-radius:4px;
	background: #fffcf5; /* Old browsers */
  	background: -moz-linear-gradient(top, #197AB2 0%, #1C5F86 100%); /* FF3.6+ */
 	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fffcf5), color-stop(100%,#fef6e1)); /* Chrome,Safari4+ */
 	background: -webkit-linear-gradient(top, #fffcf5 0%,#fef6e1 100%); /* Chrome10+,Safari5.1+ */
 	background: -o-linear-gradient(top, #fffcf5 0%,#fef6e1 100%); /* Opera 11.10+ */
  	background: -ms-linear-gradient(top, #fffcf5 0%,#fef6e1 100%); /* IE10+ */
 	background: linear-gradient(top, #fffcf5 0%,#fef6e1 100%); /* W3C */
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcf5', endColorstr='#fef6e1',GradientType=0 ); /* IE6-9 */
}
.transform{
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
input[type=submit], input[type=button]{ 
    border: medium none;
    cursor: pointer;
    padding: 0;
    white-space: nowrap;
}
input[type=file]{box-shadow:none !important;}
input[type=text], input[type=password], select, textarea, input[type=file]{
	background-color:#fafaff;
	border: 1px solid #e7e8f6;
	color:#919191;
	padding:5px;
	height:40px;
    width:100%;
    font-family:'VIEGotham-Book',sans-serif;
}
input[type="radio"],input[type="checkbox"] {
    display: none;
}
textarea{height:110px;}
select{padding:0.2em;}
*html input, *html textarea {border:1px solid #dedede;}
input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus, input[type=file]:focus{
  	outline:0;
      background:#fff;
      border:1px solid #a7b3d9;

}
input[type=checkbox], input[type=radio], input.checkbox, input.radio {top:0.25em;}
/*  begin-CSS:absolute --------------------------------------------------------------------------*/

/*  begin-CSS:clear --------------------------------------------------------------------------*/
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clear{clear:both;}
* html .clearfix {zoom: 1;} /* IE6 */
*:first-child+html .clearfix {zoom: 1;} /* IE7 */

/*  begin-CSS:popup --------------------------------------------------------------------------*/
.popup{
	background: none repeat scroll 0 0 #FFFFFF;
    border-radius:4px;
	border:1px solid #dedede;
    box-shadow: 0 0 8px 3px rgba(15, 15, 15, 0.4);
    display:block;
    left: 50%;
    padding:0.5em;
    position: absolute;
    top: 50%;
    z-index: 9999;
}
/*  end-CSS:popup --------------------------------------------------------------------------*/
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    font-family: 'VIEGotham-Black',sans-serif;
}

.main{margin:0 auto; width:978px; position:relative ; z-index:5;}
s, .icon, .btn-search, .icon-starw{
	background:url(images/icon.png) no-repeat;
	display: inline-block;
    position: relative;
}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12{display:block;}
.grid_1 {width: 8.33333%;}
.grid_2 {width: 16.6667%;}
.grid_3 {width: 25%;}
.grid_4 {width: 33.3333%;}
.grid_5 {width: 41.6667%;}
.grid_6 {width: 50%;}
.grid_7 {width: 58.3333%;}
.grid_8 {width: 66.6667%;}
.grid_9 {width: 75%;}
.grid_10 {width: 83.3333%;}
.grid_11 {width: 91.6667%;}
.grid_12 {width: 100%;}
#header{height:80px;border-bottom:1px solid #e7e8f6;background:#fff;position:relative;}
#menu{position:absolute;top:20px;}
.menu_level{text-align:center;width:100%;}
.menu_level li{display:block;float:left;background:url("images/bg_line_menu.png") no-repeat right 4px;}
.menu_level li:last-child{background:none;}
.menu_level li a{display:block;float:left;padding:0 44px;color:#96acd6;font-family:'SauberScript';font-size:18px;text-align:left;}
.menu_level li a span{display:block;font-family:'VIEGotham-Black',sans-serif;font-size:16px;text-transform:uppercase;}
.menu_level li a:hover{color:#005cb9;}
#container{background:url("images/bg.png") no-repeat center center;width:100%;overflow:hidden;max-width:1280px;margin:0 auto;}
#top-banner{background:#fff;}
.w709{width:709px;}
.w558{width:558px;}
.w390{width:390px;margin:20px 0 0 30px;}
.w487{width:487px;height:318px;}
.w306{width:306px;}
.w504{width:504px;border-right:1px solid #6699cc;}
.w528{width:528px;}
.w474{width:474px;}
.ads{position:relative;}
.ads .btn-nav{position:absolute;background:#fff;font-family:'VIEGotham-Black',sans-serif;font-size:15px;color:#95b4ea;position:absolute;left:150px;bottom:35px;}
.icon-arrow-l{width:5px;height:9px;background-position:-34px 0;margin:0 0 0 10px;}
#about-product .icon-arrow-l{background-position:-39px 0;margin:0 0 0 10px;}
.ads .btn-nav:hover .icon-arrow-l{}
.sample-review{}
.sample-review h2{color:#005cb9;font-family:'VIEGotham-Black',sans-serif;text-transform:uppercase;font-weight:bold;font-size:15px;}
.sample-review label,.sample-review label a{color:#005cb9;font-size:16px;}
.sample-review label a{border-bottom:1px dotted;}
.sample-review label.label-radio {cursor: pointer; display: inline-block; height: 18px;vertical-align: middle;color:#919191;}
.icon-radio{background-position:0 0;width:12px;height:12px;}
input[type="radio"]:checked + label.label-radio .icon-radio {
    background-position:-12px 0;
}
.checkbox{position:relative;}
.checkbox input{position:absolute;top:0;left:0;}
.checkbox label{font-size:13px;}
.icon-checkbox{background-position:0 -12px;width:30px;height:30px;position:absolute;top:2px;}
input[type="checkbox"]:checked + label .icon-checkbox {
    background-position:-30px -12px;
}
.checkbox label span.text{padding:0 0 0 40px;display:block;}
.checkbox label span.text span{display:block;color:#919191;}
.btn-submit{background:#005cb9;padding:6px 30px;color:#fff;text-transform:uppercase;font-size:16px;font-weight:bold;}
#video,#about-product{position:relative;padding-top:55px;}
#video .icon-play{width:86px;height:87px;position:absolute;top:35%;right:310px;background-position:-112px 0;text-indent:-999px;}
.product{position:relative;padding:10px 0;background:#fff;}
.product .btn-nav-product{position:absolute;right:100px;top:48%;background:#005cb9;color:#fff;}
#about-product .box-review .title{position:relative;padding:20px 0 0 0;}
#about-product .box-review .title h3{color:#005cb9;font-family:'VIEGotham-Black',sans-serif;font-size:16px;}
#about-product .box-review .title h3 span{display:block;}
#about-product .box-review .title .line,#review .box-review-r .title .line {
    border-bottom: 5px solid #005cb9;
    display: block;
    height: 5px;
    padding: 0 0 15px;
    position: absolute;
    top: -25px;
    width: 40px;
}{width:40px;height:5px;border-bottom:5px solid #005cb9;display:block;padding:0 0 15px 0;position:absolute;top:-25px;}
#about-product .box-review .btn-nav-review{background:#005cb9;color:#fff;font-size:15px;}
#about-product .box-review .review-item{background:#4e70b1;height:140px;overflow:hidden;}
#about-product .box-review .review-item .img{width:128px;float:left;height:140px;}
#about-product .box-review .review-item .info{float:left;padding:0 10px 0 30px;width:67%;color:#fff;}
#about-product .box-review .review-item .info label{padding:5px 0;font-weight:bold;}
.lastest-blog{padding:20px 0 50px 0;}
.lastest-blog .grid_4{width:306px;height:397px;background:#fff;padding:10px;margin-right:30px;}
.lastest-blog .grid_4:last-child{margin-right:0;}
.lastest-blog .blog-item h3{font-weight:bold;color:#005cb9;padding:5px 0;font-family:'VIEGotham-Black',sans-serif;font-size:16px;text-transform:uppercase;}
.lastest-blog .blog-item h3 a{color:#005cb9;}
.lastest-blog .blog-item p.des{line-height:20px;}
.lastest-blog .blog-item .readmore {padding:20px 0 0 0;}
.lastest-blog .blog-item .readmore a{color:#005cb9;font-size: 16px;}
#header-banner{position:relative;background:#f6fbff;}
#header-banner .sample-review{position:absolute;top:0px;left:739px;}
#header-banner .sample-review h2{color:#4e70b1;}
#review{padding:50px 0 0 0;background:#f6fbff;}
#review .box-review {padding: 30px;background: #fff;-webkit-box-shadow: 0px 0px 3px 1px rgba(241, 247, 253, 0.75);-moz-box-shadow: 0px 0px 3px 1px rgba(241, 247, 253, 0.75);box-shadow: 0px 0px 3px 1px rgba(241, 247, 253, 0.75);}
#review .box-review .img{width:131px;float:left;}
#review .box-review .share-review{width:68%;float:left;padding:0 0 0 20px;}
#review .box-review .share-review h2{color:#4e70b1;font-family:'VIEGotham-Black',sans-serif;text-transform:uppercase;font-size:15px;}
#review .box-review .label-radio{padding:10px 0 0 0;}
#review .box-review-r .title h3 {color: #005cb9;font-family: "VIEGotham-Black",sans-serif;font-size: 25px;text-transform:uppercase;}
#review .box-review-r .title h3 span{font-size:20px;font-family:'VIEGotham-Book',sans-serif;display:block;text-transform:none;}
#review .box-review-r .title .line {border-bottom: 5px solid #005cb9;display: block;height: 5px;padding: 0 0 15px;position: absolute;top: -15px;width: 40px;}
#review .box-review-r .img{width:55px;}
#review .box-review-r .info{padding:0 0 0 15px;width:86%;}
#review .box-review-r .info h3{font-family:'VIEGotham-Black',sans-serif;text-transform:uppercase;font-size:15px;color:#4e70b1;}
#review .box-review-r .info label{color:#4e70b1;}
#review .box-review-r .info label span.user{border-right:1px solid #919191;padding:0 10px 0 0;}
.box-review-r .icon-face{width:7px;height:13px;background-position:-66px -12px;margin-right:10px;}
.box-review-r .info .pt5.pb20 > span{padding:0 0 0 10px;}
#review .mr15{margin-right:15px;}
#review .ml15{margin-left:15px;}
.box-logged{margin:70px 0 0 0;padding:0 20px 0 0;}
.box-logged p{font-size:16px;padding:10px 0 20px 0;line-height:24px;}
.box-logged .btn-review{background:#005cb9;color:#fff;text-transform:uppercase;padding:10px 30px;}
#project_s10{width:1280px;overflow:hidden;float:left;background:#f6fbff;}
#header_s10{height:318px;}
#header_s10 .header_c{width:306px;height:100%;background:url("images/bg_s10.png") no-repeat center center;position:relative;text-align:center;}
#header_s10 .header_c .effect{height:100%;background:url("images/bg_s10_effect.png") no-repeat center center;}
#header_s10 .header_c .header_content{position:absolute;top:100px;padding:0 40px;}
#header_s10 .header_c .header_content .title{position:relative;}
#header_s10 .header_c .title .line {border-bottom: 5px solid #005cb9;display: block;height: 5px;padding: 0 0 15px;position: absolute; top: -40px;left:41%; width: 40px;}
#header_s10 .header_c .header_content h3{font-family:'VIEGotham-Black',sans-serif;text-transform:uppercase;font-size:25px;color:#005cb9;}
#header_s10 .header_c .header_tab{position:absolute;bottom:0;}
#header_s10 .header_c .header_tab .btn_s10{display:block;background:#666699;color:#fff;}
#header_s10 .header_c .header_tab .btn_s10.active,#header_s10 .header_c .header_tab .btn_s10:hover{background:#005cb9;}
.tab_content{position:relative;}
.tab_content .content_text{position:absolute;left:205px;width:435px;top:80px;}
.tab_content .content_text p.title{padding-bottom:5px;}
.tab_content .content_text p.title span{font-family:'VIEGotham-Black',sans-serif;text-transform:uppercase;font-size:16px;color:#005cb9;}
.tab_content .content_text p.des{padding-bottom:30px;line-height:22px;font-size:16px;}
.control-nav{position:absolute;bottom:115px;left:205px;}
.control-nav a{display:block;float:left;width:12px;height:12px;background-position:0 0;margin:0 8px 0 0;}
.control-nav a.active{background-position:-12px 0;}
.header-step{margin:60px auto;width:900px;}
.header-step ul li{width:88px;position:relative;}
.header-step ul li .i_step{width:40px;height:40px;border-radius:100%;background:#b6d0ea;display:block;float:left;position:absolute;top:-20px;color:#fff;font-size:16px;font-weight:bold;padding-top:10px;}
.header-step ul li.result .i_step{border-radius:50px;width:90px;}
.header-step ul li .text {border-bottom: 1px solid #ccc;display: block; text-align: center;}
.header-step ul li.selected a,.header-step ul li a:hover{background:#005cb9;}
h3.step-result{padding:0 265px;font-family:'VIEGotham-Black',sans-serif;font-size:16px;}
.content-step-title h4{color:#4e70b1;margin:0 0 10px 30px;font-family:'VIEGotham-Black',sans-serif;font-size:16px;}
.content-step-title h4 span{display:block;}
.box-r{margin:70px 0 0 0;}
.box-l .box-review{padding:0 50px;position:relative;}
.box-r .box-review{padding:0 20px 0 45px;}
.box-l .odd{background:#fff;}
.box-l .even{background:#f7f7f7;}
.box-l .pb20{padding-bottom:20px !important;}
.box-l .title{position:relative;padding:30px 50px 20px 50px;}
.box-l .title h3{font-family:'VIEGotham-Black',sans-serif;font-size:25px;text-transform:uppercase;color:#005cb9;}
.box-l .title h3 span{display:block;text-transform:none;font-family:'VIEGotham-Book',sans-serif;}
.box-l .title h3 span.line{ border-bottom: 5px solid #005cb9;display: block;height: 5px;padding: 0 0 15px;position: absolute;top: -10px;width: 40px;right:50px;}
.box-r .title h3 span.line{ border-bottom: 5px solid #005cb9;display: block;height: 5px;padding: 0 0 15px;position: absolute;top: -10px;width: 40px;left:50px !important;}
.box-l  .img{width:55px;height:55px;}
.box-l  .img img{border-radius:100%;}
.box-l .info{padding:0 0 0 15px;width:86%;}
.box-l .info h3{font-family:'VIEGotham-Black',sans-serif;text-transform:uppercase;font-size:15px;color:#4e70b1;}
.box-l .info label{color:#4e70b1;}
.box-l .info label span.user{border-right:1px solid #919191;padding:0 10px 0 0;}
.box-l p.des{margin: 0 0 15px 0;text-align:justify;}
.box-l .icon-face{width:7px;height:13px;background-position:-66px -12px;margin:0 10px;}
.box-l .pic{margin-bottom:15px;}
.box-l .btn-readmore{background:#4e70b1;color:#fff;}
.box-l .box-review>.fa-caret-left{position:absolute;right:0;top:90px;color:#4e70b1;}
.box-l .box-review>.fa-caret-right{position:absolute;left:0;top:90px;color:#4e70b1;}
.box-l .sample-review{padding:50px 20px 20px 45px;}
.box-l .write-review{padding-top:30px;padding-bottom:30px;}
.box-l .write-review .share-review{padding:0 0 0 150px;}
.box-l .write-review .share-review h2{font-family: 'VIEGotham-Black',sans-serif;font-size:20px;color:#005cb9;text-transform:uppercase;}
.box-l .write-review .share-review h2 span{display:block;text-transform:none;}
.box-l .write-review .share-review h2 span.line{border-bottom: 5px solid #005cb9;display: block;height: 5px;padding: 0 0 15px;position: absolute;top: 10px;width: 40px;left:200px;}
#over-aging{background:#f6fbff;}
#wrap{padding:50px 0 0 0;}
.pt-perspective {
    height: 565px;
    perspective: 1200px;
    position: relative;
    width: 760px;
}
.text-timeline{position:absolute;top:45px;left:-210px;z-index:99;}
.text-timeline label{font-size:35px;color:#506a90;font-family: "VIEGotham-Black";}
.text-timeline label span{font-size:50px;display:block;}
.pt-perspective .pt-page {
    backface-visibility: hidden;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform: translate3d(0px, 0px, 0px);
    transform-style: preserve-3d;
    width: 100%;
}
.pt-perspective .pt-page.pt-page-current, #wrap .pt-perspective .pt-page.no-js .pt-page {
    visibility: visible;
    z-index: 1;
}
.pt-perspective .pt-page .container_page {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}
.pt-perspective .pt-page .bg_page {
    backface-visibility: hidden;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transform: translate3d(0px, 0px, 0px);
    width: 100%;
}
.pt-perspective .pt-page .content_scroll {
    backface-visibility: hidden;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate3d(0px, 0px, 0px);
}
.container_page.whats_new.liftactiv .slider {
    background:#dbe5f2;
    padding-bottom: 80px;
    position: relative;
}
.container_page.whats_new.liftactiv .slider .before_after {
    background:#dbe5f2;
    background-size: cover;
    height: 565px;
    width: 760px;
    overflow: hidden;
    position: relative;
}
.container_page.whats_new.liftactiv .slider .before_after .bg_darker_back {
    background-color: #dbe5f2;
    height: 100%;
    position: absolute;
    width: 100%;
}
.container_page.whats_new.liftactiv .slider .before_after .bg_darker {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(219, 229, 242, 0.15) 0%, #dbe5f2 100%) repeat scroll 0 0;
    height: 100%;
    opacity: 0.2;
    position: absolute;
    width: 100%;
}
.container_page.whats_new.liftactiv .slider .before_after .circle_effect {
    background-image: url("images/circle_effect_anim.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    transform: scale(1.2, 1.2);
    width: 100%;
}
.container_page.whats_new.liftactiv .slider .before_after .text_container {
    color: #5b7193;
    padding-top: 215px;
    position: relative;
    text-align: center;
}
.container_page.whats_new.liftactiv .slider .before_after .text_container strong {
    font-family: "VIEGotham-Black";
}
.container_page.whats_new.liftactiv .slider .before_after .text_container .time {
    font-size: 80px;
    line-height: 80px;
}
.container_page.whats_new.liftactiv .slider .before_after .text_container .time .hour {
    display: inline-block;
    font-family: "VIEGotham-Black";
    text-align: right;
    width: 90px;
}
.container_page.whats_new.liftactiv .slider .before_after .text_container .time .minutes {
    display: inline-block;
    font-family: "VIEGotham-Black";
    text-align: left;
    width: 115px;
}
.container_page.whats_new.liftactiv .slider .before_after .text_container .time .ampm {
    font-size: 45px;
}
.container_page.whats_new.liftactiv .slider .before_after .text_container .line_container {
    position: relative;
}
.container_page.whats_new.liftactiv .slider .before_after .text_container .line_container .text {
    font-size: 20px;
    opacity: 0;
    position: absolute;
    width: 100%;
}
.container_page.whats_new.liftactiv .slider .before_after .text_container .line_container .text strong {
    font-family: "VIEGotham-Black";
}
.container_page.whats_new.liftactiv .slider .before_after .timeline_container {
    bottom: 15px;
    height: 67px;
    left: 15px;
    position: absolute;
    right: 15px;
}
.container_page.whats_new.liftactiv .slider .before_after .timeline_container .ico {
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    width: 65px;
}
.container_page.whats_new.liftactiv .slider .before_after .timeline_container .ico.ico_day {
    background-image: url("images/slider_ico_day.png");
}
.container_page.whats_new.liftactiv .slider .before_after .timeline_container .ico.ico_night {
    background-image: url("images/slider_ico_night.png");
    right: 0;
}
.container_page.whats_new.liftactiv .slider .before_after .timeline_container .timeline {
    height: 100%;
    left: 65px;
    position: absolute;
    right: 65px;
}
.container_page.whats_new.liftactiv .slider .before_after .timeline_container .timeline .line {
    background: rgba(50, 78, 120, 0.4) none repeat scroll 0 0;
    height: 2px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 100%;
}
.container_page.whats_new.liftactiv .slider .before_after .timeline_container .timeline .line .hour_container {
    left: 30px;
    position: absolute;
    right: 30px;
}
.container_page.whats_new.liftactiv .slider .before_after .timeline_container .timeline .line .hour_container .hour {
    background: #6279a0 none repeat scroll 0 0;
    height: 10px;
    position: absolute;
    top: -4px;
    width: 2px;
}
.container_page.whats_new.liftactiv .slider .before_after .timeline_container .timeline .drag {
    background: #324e78 url("images/slider_drag.png") no-repeat scroll center center;
    border-radius: 30px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    height: 60px;
    position: absolute;
    width: 60px;
}
.day-proof{background:#fff;margin-top:40px;height:500px;overflow:hidden;}
.day-proof .content_text{position:absolute;top:30px;left:30px;width:55%;}
.day-proof .title h3{font-family:'VIEGotham-Book',sans-serif;font-size:25px;color:#005cb9;margin-bottom:10px;margin-top:40px;}
.day-proof .title h3 span{display:block;text-transform:uppercase;font-family:'VIEGotham-Black',sans-serif;}
.day-proof .title h3 span.line{ border-bottom: 5px solid #005cb9;display: block;height: 5px;padding: 0 0 15px;position: absolute;top: 0px;width: 40px;left:0px;}
.day-proof p{line-height:22px;}
.day-proof p.title{font-family:'VIEGotham-Black',sans-serif;color:#4e70b1;padding-top:15px;}
.btn-share{background:#94aacb;color:#fff;font-weight:bold;font-family:'VIEGotham-Book',sans-serif;}
.over-product{background:#fff;padding:40px 0;}
.over-product .title{position:absolute;top:20px;right:20px;z-index:20;}
.over-product .title h3{font-family:'VIEGotham-Book',sans-serif;font-size:25px;color:#005cb9;margin-bottom:10px;margin-top:40px;font-weight:normal;}
.over-product .title h3 span{display:block;text-transform:uppercase;font-family:'VIEGotham-Black',sans-serif;}
.over-product .title h3 span.line{ border-bottom: 5px solid #005cb9;display: block;height: 5px;padding: 0 0 15px;position: absolute;top: 0px;width: 40px;left:0px;}

.over-product .product-item{width:20%;float:left;background:url("images/bg_line_product.png") no-repeat right bottom;text-align:center;}
.over-product .product-item:last-child{background:none;}
.over-product .product-item h3 a{font-family:'VIEGotham-Black',sans-serif;color:#4e70b1;}
.over-product .product-item h3 span{color:#4e70b1;font-family:'VIEGotham-Book',sans-serif;font-size:14px;font-weight:normal;}
.over-product .product-item label{color:#4e70b1;}
.top-banner{margin:40px 0 0 0;}
.over-aging-tip{margin-top:40px;}
.over-aging-tip .title{position:relative;padding:30px 0 20px 0px;}
.over-aging-tip .title h3{font-family:'VIEGotham-Black',sans-serif;font-size:25px;text-transform:uppercase;color:#005cb9;margin-bottom:10px;}
.over-aging-tip .title h3 span{display:block;text-transform:none;font-family:'VIEGotham-Book',sans-serif;}
.over-aging-tip .title h3 span.line{ border-bottom: 5px solid #005cb9;display: block;height: 5px;padding: 0 0 15px;position: absolute;top: -10px;width: 40px;left:0px;}
.over-aging-tip .over-item{background:#fff;width:305px;height:300px;text-align:center;padding:50px 0 0 0;}
.over-aging-tip .over-item .over-lock{width:260px;height:138px;margin:0 auto;background:url("images/lock.png") no-repeat center center;}
.over-aging-tip .over-item .over-lock label{font-size:25px;color:#6279a0;padding:25px 0 0 0;}
.over-aging-tip .over-item .over-lock label span{display:block;font-family: 'VIEGotham-Black',sans-serif;font-size:50px;color:#6279a0;}
.over-aging-tip .over-item .info{margin:30px 0 0 0;}
.over-aging-tip .over-item .info label{font-size:16px;}
.over-aging-tip .over-item .info span{font-family: 'VIEGotham-Black',sans-serif;font-size:16px;color:#6279a0;}
.blog{background:#fff;}
.blog .info{padding:15px 30px;}
.blog .info h3{padding:0 0 10px 0;}
.blog .info h3 a{color:#4e70b1;}
.blog .info p.des{line-height:22px;}
#footer {
    background: none repeat scroll 0 0 #d9e7f4;
    border-top: 1px solid #cad2da;
    clear: both;
    padding: 5px 0 22px;
    width: 100%;
}
#footer a,.footer_item_sub a{font-family:Arial,sans-serif;}
#footer .top {
    overflow: hidden;
    padding-bottom: 20px;
}
#footer .top .main-center {
    width: 926px;
}
#footer .top .footer_request {
    float: left;
    margin-right: 20px;
    width: 380px;
}
#footer .top .footer_request .footer_request_left {
    float: left;
    width: 235px;
}
#footer .top .footer_request .footer_request_left .sub_1 {
    line-height: 25px;
    width: 100%;
}
#footer .top .footer_request .footer_request_left .sub_1 a.sub_1_a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #333;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    padding: 0;
    text-transform: none;
}
#footer .top .footer_request .footer_request_left .sub_1 a.sub_1_a:hover, a.sub_2_a:hover {
    color: #335a99;
}
#footer .top .footer_request .sub_2 {
    line-height: 25px;
}
a.sub_2_a {
    background: url("images/point_black.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    color: #666;
    font-size: 11px;
    font-weight: normal;
    height: 25px;
    line-height: 25px;
    padding-left: 8px;
    text-transform: none;
}
#footer .top .footer_request .footer_request_right {
    float: right;
    width: 135px;
}
#footer .top .footer_request .footer_request_right .sub_1 {
    line-height: 25px;
    width: 100%;
}
#footer .top .footer_request .footer_request_right .sub_1 a.sub_1_a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #333;
    font-size: 11px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    padding: 0;
    text-transform: none;
}
#footer a.uppercase {
    text-transform: uppercase !important;
}
#footer .top .footer_request .footer_request_right .sub_1 a.sub_1_a:hover {
    color: #335a99;
}
#footer .top .footer_item {
    float: left;
    margin-right: 20px;
    width: 255px;
}
#footer .top .footer_item .footer_item_sub {
    height: 200px;
    width: 100%;
}
#footer .top .footer_item .footer_item_sub .sub_main_left {
    float: left;
    width: 127px;
}
#footer .top .footer_item .sub_main a.sub_main_a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #666;
    font-size: 11px;
    font-weight: normal;
    height: 25px;
    line-height: 25px;
    padding: 0;
    text-transform: none;
}
#footer .top .footer_item .sub_main_left .sub_main a.sub_main_a:hover {
    color: #335a99;
}
#footer .top .footer_item .footer_item_sub .sub_main_right {
    float: right;
    width: 70px;
}
#footer .top .footer_item .footer_item_sub .sub_main_left_branch {
    float: left;
    width: 118px;
}
#footer .top .footer_item .footer_item_sub .sub_main_right_branch {
    float: right;
    width: 93px;
}
#footer h4 {
    border-bottom: 1px solid #cad2da;
    color: #414042;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 15px 0 10px;
    text-transform: uppercase;
}
#footer .top li {
    margin: 0 0 5px;
}
#footer a {
    font-size: 11px;
}
#footer .bottom {
    color: #6e7f8a;
    margin-top: -40px;
}
#footer .bottom .main-center {
    color: #414042;
    font-size: 12px;
    padding: 6px 16px;
    width: 945px;
}
